<th:block th:fragment="headerfiles">
    
    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="../static/images/favicon.png" th:href="@{/images/favicon.ico}" />
    <link rel="shortcut icon" type="image/png" th:href="@{/images/favicon.ico}"/>
    
    <!-- Bootstrap Css -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" th:href="@{/webjars/bootstrap/4.4.1-1/css/bootstrap.min.css}" />
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js" th:src="@{/webjars/bootstrap/4.4.1-1/js/bootstrap.min.js}"></script>

    <!-- JQuery -->
    <script src="https://cdn.jsdelivr.net/gh/jquery/jquery@3.4.1/dist/jquery.min.js" th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
        
</th:block>