<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">

	<head>
		<title>Erro 403</title>

		<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" th:href="@{/webjars/bootstrap/4.4.1-1/css/bootstrap.min.css}" />
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js" th:src="@{/webjars/bootstrap/4.4.1-1/js/bootstrap.min.js}"></script>

		<script src="https://cdn.jsdelivr.net/gh/jquery/jquery@3.4.1/dist/jquery.min.js" th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
	</head>

	<body>

	<div class="container">

		<div class="jumbotron">
		<div class="row text-center">
			<img src="../static/images/403forbidden.png" width="280" th:src="@{/images/403forbidden.png}"/>
			<h2>Erro 403 - Acesso Negado!</h2>
			<h3 style="color:red">Você nâo tem permissão de acesso a essa página</h3>
			<form th:action="@{/login}" method="post">
				<button class="btn btn-lg btn-danger" type="submit" value="Voltar">Voltar</button>
			</form>
		</div>
		</div>
		
	</div>

	</body>
</html>