<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">

<head>
    <title>Hello</title>

    <div th:insert="fragments/header_files :: headerfiles"></div>
    
    <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js" th:src="@{/webjars/datatables/1.10.20/js/jquery.dataTables.min.js}"></script>
    <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js" th:src="@{/webjars/datatables/1.10.20/js/dataTables.bootstrap4.min.js}"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" th:ref="@{/webjars/datatables/1.10.20/css/dataTables.bootstrap4.min.css}"/>	

    <script type="text/javascript" class="init">
       
        $(document).ready(function() {
            $('#tabelaUsuarios').DataTable( {
                "scrollY": "390px",
                "scrollCollapse": true,
                "language": {
                    "sEmptyTable":   "Não foi encontrado nenhum registo",
                    "sLoadingRecords": "Carregando...",
                    "sProcessing":   "Processando...",
                    "sLengthMenu":   "Mostrar _MENU_ registros",
                    "sZeroRecords":  "Não foram encontrados resultados",
                    "sInfo":         "Mostrando de _START_ até _END_ de _TOTAL_ registros",
                    "sInfoEmpty":    "Mostrando de 0 até 0 de 0 registros",
                    "sInfoFiltered": "(filtrado de _MAX_ registros no total)",
                    "sInfoPostFix":  "",
                    "sSearch":       "Procurar:",
                    "sUrl":          "",
                    "oPaginate": {
                        "sFirst":    "Primeiro",
                        "sPrevious": "Anterior",
                        "sNext":     "Seguinte",
                        "sLast":     "Último"
                    },
                    "oAria": {
                        "sSortAscending":  ": Ordenar colunas de forma ascendente",
                        "sSortDescending": ": Ordenar colunas de forma descendente"
                    }
                }
            });
        } );

    </script>

</head>
    
<body>
    <div class="container-fluid">
        <h1 th:inline="text">Olá [[${#httpServletRequest.remoteUser}]]!</h1> </p>
        <div sec:authorize="hasRole('USER')">Texto visível ao user.</div> </p>
        <div sec:authorize="hasRole('ADMIN')">Texto visível ao admin.</div> </p>
        <div class="alert alert-primary" role="alert" sec:authorize="hasRole('ADM_DOMINIO')">Texto visível aos admins de domínio.</div> </p>
        <div class="alert alert-success" role="alert" sec:authorize="isAuthenticated()">
            Texto visível apenas aos usuários autenticados.
        </div> </p>
        Usuário autenticado:
        <div style="color: blue" sec:authentication="name">Bob</div> </p>
        Papéis do usuário autenticado:
        <div style="color: red" sec:authentication="principal.authorities">[ROLE_USER, ROLE_ADMIN]</div> </p>
        <div class="form-group form-inline">

            <a href="index.html" th:href="@{/index}" class="btn btn-info mr-3" role="button">Index</a>

            <form th:action="@{/logout}" method="post">
                <button class="btn btn-danger" type="submit" value="Sair">Sair</button>
            </form>
        </div>

       

        <!-- Lista dinâmica -->
        <div class="container-fluid w-100" th:if="${not #lists.isEmpty(usuarios)}">
            <!-- <h2>Lista de Usuários (<span id="contador" th:text="${#lists.size(usuarios)}"></span>):</h2> -->

            <table id="tabelaUsuarios" class="table table-bordered table-striped table-hover table-sm" style="width:100%">
                <thead class="thead-dark">
                    <tr>
                        <!-- <th>ID</th> -->
                        <th>Login</th>
                        <th>OU</th>
                        <!-- <th>Nome</th>
                        <th>Sobrenome</th> -->
                        <th>Nome Completo</th>
                        <th>Email</th>
                        <th>Título</th>
                        <th>Telefone</th>
                        <th>Departamento</th>
                        <th>Descrição</th>
                        <th>Chefe</th>
                        <th>Grupos</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="usuario : ${usuarios}">
                        <!-- <td th:text="${usuario.id}">ID</td> -->
                        <td th:text="${usuario.login}">Login</td>
                        <td th:text="${usuario.unidadeOrganizacional}">OU</td>
                        <!-- <td th:text="${usuario.primeiroNome}">Nome</td>
                        <td th:text="${usuario.sobrenome}">Sobrenome</td> -->
                        <td th:text="${usuario.nomeCompleto}">Nome Completo</td>
                        <td th:text="${usuario.email}">Email</td>
                        <td th:text="${usuario.titulo}">Título</td>
                        <td th:text="${usuario.telefone}">Telefone</td>
                        <td th:text="${usuario.departamento}">Departamento</td>
                        <td th:text="${usuario.descricao}">Descrição</td>
                        <td th:text="${usuario.chefe}">Chefe</td>
                        <td th:text="${usuario.gruposSeguranca}">Grupos</td>
                    </tr>
                </tbody>
            </table>
        </div>
        
    </div>

</body>

</html>